Repository Theseus-Aegis/Mods, pull requests merged in 2020-03, with the labels that each got.

#430 Update ACE3 Settings for ACE 3.13.1
  addons/cba_settings/cba_settings.sqf
  addons/main/script_mod.hpp
Labels: setting

#431 Settings - Fix ACE3 Medical Wounds Reopening
  addons/cba_settings/cba_settings.sqf
Labels: bug fix, setting

#432 Settings - Add ACE3 Medical Fatal Damage Source
  addons/cba_settings/cba_settings.sqf
Labels: enhancement, setting

#433 Add random insurgent units generator
  addons/insurgents/$PBOPREFIX$
  addons/insurgents/CfgEventHandlers.hpp
  addons/insurgents/CfgGroups.hpp
  addons/insurgents/CfgInsurgentGear.hpp
  addons/insurgents/CfgVehicles.hpp
  addons/insurgents/README.md
  addons/insurgents/XEH_PREP.hpp
  addons/insurgents/XEH_preInit.sqf
  addons/insurgents/XEH_preStart.sqf
  addons/insurgents/config.cpp
  addons/insurgents/functions/fnc_addWeaponAmmo.sqf
  addons/insurgents/functions/fnc_randomizeGear.sqf
  addons/insurgents/functions/script_component.hpp
  addons/insurgents/initSettings.sqf
  addons/insurgents/script_component.hpp
  addons/insurgents/stringtable.xml
Labels: enhancement
