Repository Theseus-Aegis/Mods, pull requests merged in 2020-08, with the labels that each got.

#449 Fix ACE3 Medical & Balance GRAD Trenches settings
  addons/cba_settings/cba_settings.sqf
Labels: bug fix, enhancement, setting

#450 Add custom Armory Locker texture
  addons/armory/CfgVehicles.hpp
  addons/armory/data/tac_locker_co.paa
Labels: feature request

#452 Settings - Set ACE3 Medical Medic IV to Medics
  addons/cba_settings/cba_settings.sqf
Labels: setting
